name: Auto Release on push tag

on:
  push:
    tags:
      - v*
      - V*

jobs:
  build:
    name: Build and create draft release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      GH_TOKEN: ${{ secrets.RELEASE_PAT }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build artifact
        run: |
          mkdir -p artifacts
          echo "Hello world on $(date -I) for ${{ github.ref_name }}" > artifacts/product.txt

      - name: Prepare release notes
        run: |
          release="${{ github.ref_name }}"
          sed "s/RELEASE/${release}/g" release_notes_template.md > release_notes.md

      - name: Create draft release
        run: |
          release="${{ github.ref_name }}"

          gh release create "${release}" \
            --draft \
            -F release_notes.md \
            -t "Release ${release}"
            # add artifacts here if you want, e.g. artifacts/product.txt
